.main {
  width: 100%;
  height: max-content;
  max-height: 556px;
  border-radius: 28px;
  background-color: rgba(#000000, 0.35);
  overflow: hidden;
  color: #fff;
  -webkit-app-region: drag;
  overflow: hidden;
}
