.main {
  width: 100%;
  height: max-content;
  max-height: 556px;
  border-radius: var(--window-border-radius);
  background-color: var(--window-main-background-color);
  color: #fff;
  -webkit-app-region: drag;
  overflow: hidden;
}
